<h1>show reservations</h1>
<%= Link_to "Edit", edit_product_path(@restaurant) %>
<p>restaurant: <%= @restaurant.name %></p>
<p> time: <%= @restaurant.time %></p>
<p>capacity: <%= @restaurant.guests</p>
