body {
	background-color: beige;
}

header {
	color: lightblue; 
	font-family: "Great Vibes", cursive; 
	font-size: 150px; 
	line-height: 160px; 
	font-weight: normal; 
	margin-bottom: 0px; 
	margin-top: 10px; 
	text-align: center; 
	text-shadow: 3px 4px black, 6px 6px black;
    background-color: white;
}
